body{
    margin: 0;
}





.icon-bar{
    width: 100%;
    background-color: rgb(163, 6, 74);
    

}


.icon-bar a{
    float:left
    display: block;
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 16px ;
    transition: all 0.3s ease;
}

.icon-bar a:hover{
    background-color: rgb(136, 7, 7);
    
}
.active{
    background-color: brown;
}